<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand row" href="#">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhZl_Vx8kxuJqaC2Eq3U0JlDOdfs4Y_TQzIg&usqp=CAU" alt="Logo" width="60" height="48" class="d-inline-block align-text-top col-3">
      <h1 style="font-weight: normal;" class="col-3">i4-Maintenance</h1>
    </a>
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Services</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Performance</a></li>
      </ul>
  </div>
</nav>

  